---
layout: default
make-smaller-titles: true
---

<div class="gravatar" align="center">  
    <img src="header3.png" height="180" align="center" width="768" alt="{{ site.title }}" />
</div>

<div class="container-fluid index">
    <h1 class="header author-header">{{ site.title }}</h1> 	
</div>

<div class="author-text" align="center">
    {{ site.title_description }}
</div>

<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">
        
            <div class="author-text-g">
                 {% include goal.html %}
            </div>
                
             {% include social_links.html %}
            
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

                         <!--<small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>-->  

                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small> <!--post.date | date: "%B %-d, %Y"-->

                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>
		   <h2>Opencv Python Examples<small><i><a href="{{ site.baseurl }}/opencv-python-examples/"> here</a></i></small></h2>
            </div>

        </div>

    </div>
</div>
