<div style="text-align:left;">

<h2 id="goal">Goal</h2>
<p>This is a fun project to build an interactive drone...</p> 
<ul style="list-style-type:disc">	
	<li>that has computer vision features</li> 
	<li>that has distance sensors</li> 
	<li>that has audio in and output</li>
</ul>
	<br/>
<p>Follow marked person:</p>
<p><a href="https://www.youtube.com/watch?v=zCdacGMnlO0"><img src="http://img.youtube.com/vi/zCdacGMnlO0/0.jpg" alt="A flight through our office" align="middle"/></a></p>
<br/>
	<p>First flight:</p>
<p><a href="http://www.youtube.com/watch?v=rimVxTH05QE"><img src="http://img.youtube.com/vi/rimVxTH05QE/0.jpg" alt="A flight through our office" align="middle"/></a></p>

	https://www.youtube.com/watch?v=zCdacGMnlO0
<p>The drone should be able to...</p>
<ul style="list-style-type:disc">
	<li>navigate inside a room and detect obstacles</li>
	<li>find persons and detect faces</li>
	<li>interact with persons</li>
	<li>talk to the person</li>
	<li>take a picture of the person</li>
	<li>interact with social media (e.g.)</li>
</ul>
<h2 id="project-team">Project Team, communication and Dev Environment</h2>
<p>We work at <a href="https://www.codecentric.de/">codecentric</a> in Karlsruhe and Hamburg, Germany. codecentric encourages every employee to start innovative projects and we have one day per week to work on them ... We are hiring ;)</p>
<ul style="list-style-type:disc">
	<li>Tobias Schaber <a href="https://twitter.com/tobiasschaber">@tobiasschaber</a></li> 
	<li>Raphael Manke</li> 
	<li>Michael Plümacher</li> 
	<li>Andrey Skorikov</li>
	<li>Oli Moser <a href="https://twitter.com/moseroli">@moseroli</a></li>
</ul>
<h2 id="communication">Communication</h2>
<ul style="list-style-type:disc">
	<li><a href="https://codecentric.slack.com/messages/cv-drone/">Slack channel</a></li>
	<li><a href="https://trello.com/b/EyBRidZB/cv-drone">ToDos</a></li>
	<li><a href="https://sketchboard.me/rzUofJAoRqtE">Sketching diagrams and mindmapping</a></li>
	<li><a href="https://www.youtube.com/channel/UC_r-M-0JQZUnOG2gJSL9pfg">Videos on youtube channel</a></li>
</ul>
</div>
