<nav id="my-menu">
  <div>
    <p>{{ site.title }}</p>

    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="{{ site.baseurl }}/posts/"><i class="fa fa-archive"></i> All Posts</a></li>
      <li><a href="{{ site.baseurl }}/opencv-python-examples/"><i class="zmdi zmdi-view-comfy"></i> Opencv Python Examples</a></li> 
      <li><a href="https://www.youtube.com/channel/UC_r-M-0JQZUnOG2gJSL9pfg"><i class="zmdi zmdi-youtube"></i> Videos</a></li> 
      <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> Search</a></li>
      
    </ul>

    {% include social_links.html %}
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
